@font-face {
    font-family: 'Earth Orbiter';
    src: url('../public/EarthOrbiter.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
		margin: 0;
		padding: 0;
}

@font-face {
    font-family: 'SFMono';
    src: url('../public/SFMono.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
		margin: 0;
		padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Earth Orbiter";
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('../background.png');
  background-size: cover;
  border-radius: 0px !important;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 700px;
  margin: 0 auto;
}

.container {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 40px 40px;
}

.button {
  appearance: none;
  border: none;
  font-family: "SF Pro Rounded";
  background-image: linear-gradient(to right, #3898FF, #7A70FF);
  line-height: 1;
  font-size: 16px;
  font-weight: 600;
  height: 35px;
  padding: 6px 24px;
  border-radius: 6px;
  align-items: left;
  color: white;
  transition: all ease 100ms;
}

.refreshButton {
  appearance: none;
  border: none;
  font-family: "EarthOrbiter";
  background-image: linear-gradient(to right, #3898FF, #7A70FF);
  line-height: 1;
  font-size: 16px;
  font-weight: 600;
  height: 35px;
  padding: 6px 24px;
  border-radius: 6px;
  align-items: left;
  color: white;
  transition: all ease 100ms;
  margin-left: 104px;
}

button:not(:disabled):hover {
  transform: scale(1.2);
}

button[data-mint-loading="true"] {
  background: rgba(22, 25, 31, 0.24);
}

button[data-mint-started="true"] {
  background-image: linear-gradient(270deg, #FF6257, #FF5CA0);
  position: relative;
}

  button[data-mint-started="true"]::after {
    animation-name: pulse;
    animation-duration: 500ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    background-color: #FF6257;
    border-radius: inherit;
    bottom: 0;
    content: ' ';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

button[data-mint-done="true"] {
   opacity: 0;
   transform: scale(0.85);
}

h1 {
  font-size: 32px;
  font-family: "Earth Orbiter";
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
h2 { font-size: 36px; weight: 800 }
h3 { font-size: 24px; weight: 800 }
h4 { font-size: 18px; weight: 800 }
a { color: inherit }

@keyframes pulse {
  0% { opacity: 0 }
  100% { opacity: '100%' }
}

iframe {
  background: #ccc;
  border: 1px solid #ccc;
  height: 10rem;
  width: 100%;
  border-radius: 0.5rem;
  filter: invert(1);
}
